.hero-logo {
  width: 100px;
  height: 100;
  margin-bottom: 20px;
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.3));
}
.contenido{
  height: 450px;
  overflow-y: scroll; 
  scrollbar-width: none; 
  -ms-overflow-style: none; 


}
.contenido::-webkit-scrollbar {
  display: none;
}

/* .layout {
  display: flex;
  gap: 1.5rem;
  padding: 20px;
  min-height: 100vh; 
} */

